@charset "UTF-8";
html,body{
	height:100%;
}
.index_nav_fixed_top{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:62px;
	background-color:#58aee4;
	color:#ffffff;
	
}
.index_nav_fixed_top div{
	float:left;
}

.index_nav_fixed_top div:first-child{
	margin-left:50px;
}
.index_nav_fixed_top div:last-child{
	float:right;
	margin-right:134px;
}

.index_ul_right_navbar{
	float:right;
	list-style:none; /* 去掉ul前面的符号 */
    margin: 0px; /* 与外界元素的距离为0 */
    padding: 0px; /* 与内部元素的距离为0 */
    width: auto; /* 宽度根据元素内容调整 */
	height:50px;
}
.index_ul_right_navbar li
{
	padding:4px;
    float:left; /* 向左漂移，将竖排变为横排 */
	height:50px;
	background-color: #58aee4;
}
/* 所有class为menu的div中的ul中的a样式(包括尚未点击的和点击过的样式) */
.index_ul_right_navbar li a,.index_ul_right_navbar li a:visited
{
	color: #ffffff;
    display: block; /* 此元素将显示为块级元素，此元素前后会带有换行符 */
    padding: 8px 30px; /* 内部填充的距离 */
	line-height:40px;
    text-decoration: none; /* 不显示超链接下划线 */
    white-space: nowrap; /* 对于文本内的空白处，不会换行，文本会在在同一行上继续，直到遇到 <br> 标签为止。 */
}
/* 所有class为menu的div中的ul中的a样式(鼠标移动到元素中的样式) */
.index_ul_right_navbar li a:hover
{
    color: #000000; /* 文字颜色 */
    text-decoration: none; /* 不显示超链接下划线 */
}
/* 所有class为menu的div中的ul中的a样式(鼠标点击元素时的样式) */
.index_ul_right_navbar li a:active
{
    color: #ffffff; /* 文字颜色 */
    text-decoration: none; /* 不显示超链接下划线 */
}

/*
.index_ul_right_navbar li:hover
{
	background-color:#ffffff;
	border:solid #58aee4 1px;
    box-shadow: 0px -1px 1px rgba(102, 102, 102, 0.6);
}
*/

.index_btn_top_navbar{
	line-height:40px;
	padding: 8px 30px;
	font-size: medium;
	cursor: pointer;
	color:#ffffff;
	border:solid #58aee4 1px;
	border-radius: 4px;
	background-color:#58aee4;
}

.index_btn_top_navbar_on{
	pointer-events: none;/*禁用鼠键事件*/
	line-height:40px;
	padding: 8px 30px;
	font-size: medium;
	color:#000000;
	border:solid #58aee4 1px;
	border-bottom:solid #ffffff 1px;
	border-radius: 4px 4px 0px 0px;
	background-color:#ffffff;
	box-shadow: 0px -1px 1px rgba(102, 102, 102, 0.6);
}

.index_btn_top_navbar:hover
{
	color:#000000;
	background-color:#ffffff;
	border:solid #58aee4 1px;
    box-shadow: 1px -1px 2px rgba(102, 102, 102, 0.6);
}

.div_first_impression{
	position: relative;
	text-align:center;
	width:100%;
	height:auto;
	top: 0px;
	left: 0px;
	right: 0px;
	margin-top: 60px;
}
.div_title{
	margin-top:80px;
}
.div_title h1{
	font-weight:normal;
	font-size: -webkit-xxx-large;
	color:#525252;
}

.div_summary span{
	font-size: larger;
	color:#aeaeae;
}
.div_advantage{
	margin-top: 60px;
    margin: auto;
}
.table_advantage{
	width:800px;
	border-top: solid #ccc 1px;
	border-left: solid #ccc 1px;
	border-spacing: 0;
	box-shadow: 0px 1px 1px #ccc; 
    border-collapse: separate;
	margin: 0 auto;
    text-align: left;
	color: #313131;
}

.table_advantage td:first-child{
	width:200px;
}
.table_advantage thead{
    background-color: #dce9f9;
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
	font-weight:bold;
    /*头部阴影*/
    /* box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; */
}
.table_advantage th,.table_advantage td{
	border-right: solid #ccc 1px;
	border-bottom: solid #ccc 1px;
	padding:8px;
}
.table_advantage thead tr td,table_advantage thead tr th{
	text-align: center;
}

/*圆角边框设置end*/
.table_advantage tbody tr:hover,.table_advantage_onclick {
	background: #fbf8e9;
}
/*条纹基础色*/
.table_advantage_base_stripe{
	background-color:#ffffff;
}
/*条纹色*/
.table_advantage_stripe{
	background-color:#f6f9fb;
}

.div_content_container{
	position:relative;
	width:100%;
}




/**************
 *** 3D效果 ***
 *************/

.advantage_detail_3d{
	width: 870px;
	height:290px;
	margin: auto;
	margin-top:50px;
}
.advantage_detail_3d_top{
	text-align: center;
    vertical-align: middle;
    font-size: 44px;
    width: 800px;
    height: 60px;
    margin-left: 25px;
    transform: skew(-40deg);
    letter-spacing:  40px;
    font-style:  oblique;
    /*color: #3c3c3c;*/
	color: #949494;
    background: #d0e7ff;
}
 
.advantage_detail_3d_right{
	text-align: center;
    vertical-align: bottom;
    font-size: 24px;
    padding-top: 26px;
    color: #ffffff;
    background: #9ebede;
    width: 50px;
    height: 204px;
    float: left;
    margin-top: -248px;
    transform: skew(0deg,-50deg);
 }
 
.advantage_detail_3d_shadow{
	background-color: #e2e2e2;
    height: 80px;
    width: 50px;
    left: 800px;
    float: left;
    margin-left: 13px;
    margin-top: 137px;
    border-radius: 0 4px 4px 0;
    transform: skew(-20deg,-30deg);
}
/*****************
 *** 3D效果end ***
 ****************/

.div_bottom_container{
	position: relative;
    height: 250px;
    width: 100%;
    background-color: #6899b7;
}

.div_bottom_container_top{
	width:300px;
    margin:auto;
	padding-top: 30px;
    height: 70px;
}

.div_bottom_container_top_first{
	float:left;
	width:32px;
	height:32px;
	border-radius:18px;
	border: solid #ffffff 1px;
	background-color: #fff;
}

.span_documentation{
	color: #6899b7;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 6px;
}

.div_bottom_container_top_second{
	margin-left:100px;
	float:left;
	width:32px;
	height:32px;
	background-color: #fff;
	border-radius:18px;
	border: solid #ffffff 1px;
}

.span_plug-ins{
	color: #6899b7;
    font-size: 19px;
    margin-left: 5px;
    margin-top: 5px;
}

.div_bottom_container_content{
	margin: auto;
    width: 400px;
    height: 100px;
}
.div_bottom_container_content label{
	font-weight:bold;
	font-size:medium;
	color:#ffffff;
}
.div_bottom_container_content span{
	font-size:small;
	color:#ffffff;
}
.div_bottom_container_bottom{
	height: 40px;
    width: 160px;
    margin: auto;
	padding-top:10px;
}
.div_bottom_container_bottom span{
	font-size:small;
	color:#e8f6ff;
}

.div_content_container{
	width:80%;
	left:10%;
}

.div_top_title{
	position: relative;
    top: -42px;
    background-color: #ffffff;
    width: 150px;
    margin: auto;
    padding: 10px;
    color: #38bfff;
}

.span_middle{
	position:absolute; 
	left:50%; 
	transform:translate(-50%);
}

.div_user_comments{
	border:1px solid #ccc;
}

.hr_dotted_line{
	height:1px;
	border:none;
	border-top:1px dashed #0066CC;
}

.little_a{
	color:#666;
	cursor: pointer;
}
